#cd{
    
    font-size: 2rem;
    
 
}
h1{
    margin-bottom: 10rem;
    font-family:'Times New Roman', Times, serif;
}
body{
    
    background-image: url("Images/stars.gif");
    color: white;
    text-align: center;
   
}
#label{
    font-size: 1rem;
}
